.main-chat
  .group-bar
    %ul.group-info
      %li.group-info__name
        = @group.name
      %li.group-info__member
        Member :
        - @users.each do |user|
          = user.name 

    .group-edit
      %a{href: edit_group_path(@group) } Edit
      
  .message-table
    = render @messages
  .chat-footer
    .input-box
      =form_for [@group, @message] do |f|
        = f.text_field :body, class: "input-box__text", placeholder: "type a message"
        .form__image
          = f.label:image, class: "input-box__image" do
            = icon("fas", "image", class: 'icon')
            = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'input-box__submit'

