.main-chat
  .group-bar
    %ul.group-info
      %li.user-name new
      %li.member aaaa
    .group-edit
      %a{href: '#'} Edit
  .message-table
    %ul
      %li.user-name aaaa
      %li.date 2020/04/22(Wed) 23:47:06
    .messages Hello
    %ul
      %li.user-name aaaa
      %li.date 2020/04/22(Wed) 23:47:06
    .message Hello
  .chat-footer
    .input-box
      =form_for [@group, @message] do |f|
        = f.text_field :body, class: "input-box__text", placeholder: "type a message"
        .form__image
          = f.label:image, class: "input-box__image" do
            = icon("fas", "image", class: 'icon')
            = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'input-box__submit'

